body {
  background: #f8f8f8;
  margin-top: 25px;
  margin-bottom: 25px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

p.description {
  margin: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

pre {
  margin: 0px !important;
  padding-top: 20px !important;
  background: white;
  border: 1px solid #e1e1e8;
}

button[data-incrementor] {
  margin-right: 20px;
}

footer {
  font-family: Helvetica, sans-serif;
}
